body {
    background-color: #ffffff;
}

/* NAVBAR rojo supermercado */
.navbar-custom {
    background-color: #b30000; /* rojo supermercado */
}

.navbar-custom .nav-link,
.navbar-custom .navbar-brand {
    color: #fff;
}

.navbar-custom .nav-link:hover,
.navbar-custom .navbar-brand:hover {
    color: #f5f5f5;
}

/* FOOTER */
footer {
    background-color: #b30000;
    color: white;
    padding: 20px 0;
}

/* SEMÁFORO DE ESTADOS */
.semaforo.vencido-quitar-sala {
    color: darkred;
    font-weight: bold;
}

.semaforo.por-vencer-tomar-accion-correctiva {
    color: red;
    font-weight: bold;
}

.semaforo.cerca-de-vencimiento {
    color: orange;
    font-weight: bold;
}

.semaforo.buen-estado {
    color: green;
}


.modal-content {
    border-radius: 8px;
}